.container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat (6);
    gap: 10px;
    grid-template-areas:
        "header"
        "nav"
        "main" 
        "aside"
        "footer";
}


header {
    grid-area:header;
    background-color: rgb(56, 121, 94);
}

nav {
    grid-area:nav;
    background-color: rgb(175, 189, 55);
}

main {
    grid-area:main;
    background-color: rgb(235, 121, 15);
}

aside {
    grid-area:aside;
    background-color: rgb(86, 141, 224);
}

footer {
    grid-area:footer;
    background-color: rgb(197, 45, 83);
}


@media screen and (min-width: 1024px) {

    .container {

        grid-template-columns: 100px auto 100px;
        grid-template-rows: repeat (6,100px);
        gap: 10px;
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "main main aside"
            "footer footer footer";

    }

}
    
